.home_app{
    border: 1px solid black;
    color: whitesmoke;
    background-image: url('http://findmatthew.com/img/filler.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_app span{
    color: rgb(253, 157, 157);
}