.navbar_app{
    background-color: #212121;
    color: white;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar_options{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar_options h3:hover{
    color: rgb(253, 157, 157);
}